Unity.Analytics.DataPrivacy.csproj
CaptureFood.sln
Unity.CollabProxy.Editor.csproj
Unity.PackageManagerUI.Editor.csproj
Unity.TextMeshPro.csproj
Unity.TextMeshPro.Editor.csproj
Temp/
Logs/
CaptureFood.csproj
.vs
Assembly-CSharp-Editor.csproj
Assembly-CSharp.csproj
CaptureFood.Editor.csproj
Library/
obj/
Unity.2D.Common.Editor.csproj
Unity.2D.Common.Runtime.csproj
Unity.InternalAPIEngineBridge.001.csproj
Unity.InternalAPIEditorBridge.001.csproj
Unity.2D.SpriteShape.Runtime.csproj
Unity.2D.SpriteShape.Editor.csproj
packages.config
app.config
